<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dl.shop.payment.dao.DlUserRealMapper">
  <resultMap id="BaseResultMap" type="com.dl.shop.payment.model.DlUserReal">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="real_id" jdbcType="INTEGER" property="realId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="real_name" jdbcType="VARCHAR" property="realName" />
    <result column="id_code" jdbcType="VARCHAR" property="idCode" />
    <result column="card_pic1" jdbcType="VARCHAR" property="cardPic1" />
    <result column="card_pic2" jdbcType="VARCHAR" property="cardPic2" />
    <result column="card_pic3" jdbcType="VARCHAR" property="cardPic3" />
    <result column="address_now" jdbcType="VARCHAR" property="addressNow" />
    <result column="address_info" jdbcType="VARCHAR" property="addressInfo" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="add_time" jdbcType="INTEGER" property="addTime" />
    <result column="reason" jdbcType="VARCHAR" property="reason" />
    <result column="is_delete" jdbcType="INTEGER" property="isDelete" />
  </resultMap>
  
  <select id="findByUserId" resultMap="BaseResultMap">
  	select
  	 * 
  	 from
  	  dl_user_real where user_id = #{userId}
  </select>
</mapper>