<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dl.shop.payment.dao.PayBankRecordMapper">
  <resultMap id="BaseResultMap" type="com.dl.shop.payment.model.PayBankRecordModel">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="bank_card_no" jdbcType="VARCHAR" property="bankCardNo" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="cert_no" jdbcType="VARCHAR" property="certNo" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="bank_type" jdbcType="INTEGER" property="bankType" />
    <result column="cvn2" jdbcType="VARCHAR" property="cvn2" />
    <result column="valid_date" jdbcType="VARCHAR" property="validDate" />
    <result column="last_time" jdbcType="INTEGER" property="lastTime" />
    <result column="bank_name" jdbcType="VARCHAR" property="bankName" />
    <result column="paylog_id" jdbcType="INTEGER" property="payLogId" />
    <result column="is_paid" jdbcType="INTEGER" property="isPaid" />
     
  </resultMap>
  
  <sql id="queryFields">id, user_id,bank_card_no, user_name, cert_no, phone, bank_type,cvn2,valid_date,last_time,bank_name,paylog_id,is_paid</sql>
  
  <select id="listUserBank" parameterType="com.dl.shop.payment.model.PayBankRecordModel" resultMap="BaseResultMap">
	  select 
	  <include refid="queryFields" />
	  from dl_pay_bank_record
	  where user_id = #{userId} and is_paid = #{isPaid}
	</select>
	
	<select id="listAllUserBank" parameterType="com.dl.shop.payment.model.PayBankRecordModel" resultMap="BaseResultMap">
	  select 
	  <include refid="queryFields" />
	  from dl_pay_bank_record
	  where user_id = #{userId}
	</select>
	
   <update id="updateInfo" parameterType="com.dl.shop.payment.model.PayBankRecordModel">
   	update dl_pay_bank_record set bank_card_no=#{bankCardNo},user_name=#{userName},cert_no=#{certNo},phone=#{phone},bank_type=#{bankType},cvn2=#{cvn2},valid_date=#{validDate},last_time=#{lastTime},bank_name=#{bankName},paylog_id=#{payLogId},is_paid=#{isPaid}
   	where id = #{id}
	</update>
	
	<update id="updateIsPaidInfo" parameterType="com.dl.shop.payment.model.PayBankRecordModel">
	 update dl_pay_bank_record set is_paid = #{isPaid}
	 where paylog_id = #{payLogId}
	</update>
	
	
	<select id="queryPayBankRecordModelById" parameterType="com.dl.shop.payment.model.PayBankRecordModel" resultMap="BaseResultMap">
	  select 
	  <include refid="queryFields" />
	  from dl_pay_bank_record
	  where id = #{id}
	</select>
	
</mapper>