<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dl.shop.payment.dao.PayMentMapper">
  <resultMap id="BaseResultMap" type="com.dl.shop.payment.model.PayMent">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="pay_id" jdbcType="INTEGER" property="payId" />
    <result column="pay_code" jdbcType="VARCHAR" property="payCode" />
    <result column="pay_name" jdbcType="VARCHAR" property="payName" />
    <result column="pay_type" jdbcType="INTEGER" property="payType" />
    <result column="pay_fee" jdbcType="VARCHAR" property="payFee" />
    <result column="pay_sort" jdbcType="INTEGER" property="paySort" />
    <result column="is_enable" jdbcType="BIT" property="isEnable" />
    <result column="pay_title" jdbcType="VARCHAR" property="payTitle" />
    <result column="pay_img" jdbcType="VARCHAR" property="payImg" />
    <result column="pay_config" jdbcType="LONGVARCHAR" property="payConfig" />
    <result column="pay_desc" jdbcType="LONGVARCHAR" property="payDesc" />
    <result column="is_h5" jdbcType="VARCHAR" property="isH5" />
    <result column="pay_url" jdbcType="VARCHAR" property="payUrl" />
    <result column="pay_cn" jdbcType="VARCHAR" property="payCn" />
    <result column="pay_st" jdbcType="INTEGER" property="paySt" />
  </resultMap>
  <select id="selectJianLianConfig" resultType="java.lang.Integer">
    select value from dl_sys_config where business_id=11
  </select>
  <select id="selectRedirectInfo" resultType="com.dl.shop.payment.dto.PayFinishRedirectUrlTDTO">
    select 
    app.app_name as appName,
    app.scheme_url as schemeUrl
    from dl_phone_channel phoneChannel 
    left join dl_app app on phoneChannel.app_code_name=app.app_code_name
    where phoneChannel.channel=#{channelId}
  </select>
  
</mapper>